.container p {
    color: blue;
  }
  
  .container > h2 {
    color: red;
  }
  
  h2 + p {
    color: green;
  }
  
  .intro ~ p {
    background-color: yellow;
  }

  
  .container p.intro {
    background-color: gray;
  }