body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}



.bloque-centrado {
    background-color: #e0e0e0;
    margin: 20px auto;
    width: 50%;
    padding: 10px;
}

.texto-centrado {
    background-color: #c0e4ff;
    padding: 20px;
    text-align: center;
}

.imagen-centrada img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.alineacion {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.izquierda {
    background-color: #d1ffd6;
    padding: 10px;
}

.derecha {
    background-color: #ffd1d1;
    padding: 10px;
}

.centrado-vertical {
    background-color: #ffe4b3;
    height: 100px;
    line-height: 100px; 
    padding: 0 10px;
    text-align: center;
}
