/* General styles for the menu */
.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.menu-item {
    width: 50px;
    height: 50px;
    background: url('sprite.png') no-repeat; 
    display: inline-block;
    text-decoration: none;
    background-size: 300px 300px; 
}

/* Icono de Inicio */
.menu-item.home {
    background-position:-107px 0; 
}

/* Icono de Buscar */
.menu-item.search {
    background-position: -261px -50px; 
}

/* Icono de Configuración */
.menu-item.settings {
    background-position: 15px -100px; 
}
